body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
div,
img,
hr {
  margin: 0;
  padding: 0;
}
body {
  background-color: #161414;
}
#one {
  position: absolute;
  font-family: "Abril Fatface", cursive;
  font-size: 100pt;
  color: white;
  left: 14%;
  top: 36.5vh;
  z-index: 3;
}
#two {
  position: absolute;
  font-family: "Abril Fatface", cursive;
  font-size: 100pt;
  color: white;
  top: 36.5vh;
  left: 47.7%;
  z-index: 3;
}
#three {
  position: absolute;
  font-family: "Abril Fatface", cursive;
  font-size: 100pt;
  color: white;
  z-index: 3;
  top: 36.5vh;
  left: 81.5%;
}
#name {
  font-family: "Megrim", cursive;
  position: absolute;
  font-size: 155pt;
  z-index: 2;
  color: black;
  left: 0.5%;
  top: 1vh;
}
a {
  color: white;
  text-decoration: none;
}
#sun2 {
  position: absolute;
  z-index: 1;
  align-items: center;
  width: 200px;
  height: 200px;
  left: 9%;
  top: 36vh;
  border-radius: 50%;
  background: rgb(255, 133, 54);
  background: radial-gradient(
    circle,
    rgba(255, 133, 54, 1) 0%,
    rgba(212, 38, 38, 1) 100%
  );
}
#red {
  left: 43%;
  top: 36vh;
  position: absolute;
}
#letter {
  left: 77%;
  top: 36vh;
  position: absolute;
}
