#first {
  background-color: #9fd3f7;
  width: 15%;
  float: left;
  height: 40vh;
}
#second {
  background-color: #95bf95;
  width: 4%;
  float: left;
  height: 86vh;
}
#third {
  background-color: #ffad5c;
  width: 100%;
  float: bottom;
  float: right;
  height: 11vh;
}
#fourth {
  background-color: #ead4fc;
  width: 53%;
  float: right;
  height: 66vh;
  float: top;
}
#fifth {
  background-color: #e85f2e;
  width: 21%;
  height: 90vh;
  float: right;
}
#sixth {
  float: left;
  background-color: #fff3ab;
  width: 26%;
  height: 33vh;
}
