body {
  background-color: #061016;
}
p {
  color: black;
  font-family: "Gaegu", cursive;
  line-height: 0.9;
}
#sun {
  position: absolute;
  z-index: 2;
  align-items: center;
  width: 200px;
  height: 200px;
  top: 37%;
  left: 41.5%;
  border-radius: 50%;
  background: rgb(255, 133, 54);
  background: radial-gradient(
    circle,
    rgba(255, 133, 54, 1) 0%,
    rgba(212, 38, 38, 1) 100%
  );
}
a {
  color: white;
}
ul {
  list-style: none;
  position: absolute;
  font-family: "Courier Prime", monospace;
  font-size: 12pt;
  top: 44.5%;
  left: 42.8%;
  z-index: 4;
  text-align: center;
}
#left {
  float: left;
}
#right {
  float: right;
  text-align: right;
}
strong {
  color: white;
}
